/*
 * Breakpoints
 *
 * We recommend using semantic breakpoint names. As for sizes, it's up to you.
 *
 * "Every time you use 320px, 480px, 768px, 1024px used as breakpoint values,
 * a kitten gets its head bitten off by an angel...or something like that!"
 * @source http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/
 *
 * Here's what Doghouse would usually recommend, even if you don't use all of them:
 *
 * $breakpoint-extra-small: XXem;
 * $breakpoint-small:       XXem;
 * $breakpoint-medium:      XXem;
 * $breakpoint-large:       XXem;
 * $breakpoint-extra-large: XXem;
 *
 */